<html>
  <head>
    <title>A Trello Dashboard</title>
		<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
		<script type="text/javascript">
		ShopifyApp.init({
			apiKey: '<%= api_key %>',
			shopOrigin: 'https://<%= shop %>'
		});
		</script>
	</head>
  <body>
		<script type="text/javascript">
		ShopifyApp.ready(function(){
			ShopifyApp.Bar.initialize({
				title: '<%= title %>',
				icon: '/images/logo.png',
				buttons: {
					primary: {
						label: "Save",
						message: 'bar_save'
					},
					secondary: [
						// Dropdown example
						{
							label: "More",
							type: "dropdown",
							links: [
								// Link Button that opens in the app
								{ label: "Update", href: "/update", target: "app" },
								// Button with a callback function
								{ label: "Delete", callback: function(){ alert("destroy") } }
							]
						},
						{
							// Link Button that opens in a new window
							label: "Preview", href: 'http://<%= shop %>.myshopify.com',
							target: "new"
						},
						{
							label: "Open Modal",
							callback: function() {
								ShopifyApp.Modal.open({
								  src: 'http://localhost:3000/modal_content',
								  title: 'A new modal',
								  width: 'small',
								  height: 300,
								  buttons: {
								    primary: { label: "OK" },
								    secondary: [
								      { label: "Cancel", callback: function (label) { ShopifyApp.Modal.close(); } }
								    ]
								  }
								});
							}
						}
					]
				}
			});
			ShopifyApp.Bar.loadingOff();

		});
		</script>
		<div id="loggedout">
	    <a id="connectLink" href="#">Connect To Trello</a>
		</div>

		<div id="loggedin">
		    <div id="header">
		        Logged in to as <span id="fullName"></span>
		        <a id="disconnect" href="#">Log Out</a>
		    </div>

		    <div id="output"></div>
		</div>
    <a href="https://trello.com/1/connect?key=dbdd3808d314c362931b7c8918766c03&name=MyApp&response_type=token&callback_method=postMessage">Click Me</a>

    <a href="/trello_data">Test Trello</a>


  </body>

  <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://api.trello.com/1/client.js?key=dbdd3808d314c362931b7c8918766c03"></script>

  <script type="text/javascript">

	var onAuthorize = function() {
    updateLoggedIn();
    $.ajax({
      type: "POST",
      url: "/trello",
      data : {"trello_token" : localStorage.getItem(localStorage.key('trello_token'))}
    });

    Trello.members.get("me", function(member){
        $("#fullName").text(member.fullName);

        var $cards = $("<div>")
            .text("Loading Cards...")
            .appendTo("#output");

        // Output a list of all of the cards that the member
        // is assigned to
        Trello.get("members/me/cards", function(cards) {
            $cards.empty();
            $.each(cards, function(ix, card) {
                $("<a>")
                .attr({href: card.url, target: "trello"})
                .addClass("card")
                .text(card.name)
                .appendTo($cards);
            });
        });
    });

};

var updateLoggedIn = function() {
    var isLoggedIn = Trello.authorized();
    $("#loggedout").toggle(!isLoggedIn);
    $("#loggedin").toggle(isLoggedIn);
};

var logout = function() {
    Trello.deauthorize();
    updateLoggedIn();
};

Trello.authorize({
    interactive:false,
    name: "Shopify Orders",
    scope: {
      read: "allowRead", write: "allowWrite",
    },
    expire: "never",
    success: onAuthorize,

});

$("#connectLink")
.click(function(){
    Trello.authorize({
        type: "popup",
        success: onAuthorize
    })
});

$("#disconnect").click(logout);

  </script>

</html>
